---
layout: home
---

<div id="welcome">
  <%= partial "nav" %>
  Welcome to Fixed in the Next Release, the personal website of
  <%= link_to data.me.name, "about.html" %>.
</div>

<div id="recentblog" class="homesummary">
    <h1>Most Recent Blog Posts</h1>
	<table>
		<% blog.articles[0..5].each do |article| %>
        <tr>
            <td class="left">
				<time><%= article.date.strftime('%b %d %Y') %></time>
            </td>
            <td class="right">
				<%= link_to article.title, article %>
            </td>
		</tr>
		<% end %>
    </table>
</div>

<div id="changelog" class="homesummary">
    <h1>Site Changelog</h1>
	<table>
		<% data.changelog.to_a[0..5].each do |k, e| %>
        <tr>
			<td class="left">
				<time><%= e.date.strftime('%b %d %Y') %></time>
			</td>
			<td class="right">
				<%= link_to e.description, 'changelog/' + k + '.html' %>
			</td>
        </tr>
		<% end %>
	</table>
    </ol>
</div>

